@import '../global.scss';

// Import style
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Flow+Block&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  color: var(--text-primary-color);
  font-family: 'Lexend Deca', sans-serif;
}

body {
  background-color: var(--background-color-primary);
  margin: 0;
}

h1 {
  color: var(--text-primary-color);
  margin: 3rem 0;
}

.button {
  width: 100%;
  border: none;
  color: var(--text-primary-color);
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-primary {
  background-color: var(--guda-color);
  font-weight: 600;
}

.button-secondary {
  background-color: var(--guda-dark-blue);
  font-weight: 600;

  &:hover {
    background-color: var(--guda-dark-blue);
  }
}

.button-route {
  margin: 5px 0;
}

// Overriding style
.Password__strength-meter {
  background: var(--guda-password-metter) !important;
}

.Password__strength-meter:after, .Password__strength-meter:before {
  border-color: var(--background-color-secondary) !important;
}

.Password__strength-meter {
  display: none;
}

// Error messages
.guda-errors {
  border: 2px solid var(--guda-warning-color);
  padding: 10px;
  list-style: none;
  color:var(--guda-warning-color);
  .guda-error {
  }
}

.guda-success {
  border: 2px solid var(--guda-success-color);
  padding: 10px;
  list-style: none;
  margin: 10px 0;
  color:var(--guda-success-color);
}

p {
  color: var(--text-primary-color);
}

div {
  color: var(--text-primary-color);
}

.guda-highlight {
  color: var(--guda-color);
  font-weight: bold;
}

.guda-border-highlight {
  border: 1px solid var(--guda-color) !important;
}


.wrapper {
  background-color: var(--background-color-primary);
  padding: 0.875rem;
  border-radius: 0.675rem;
  min-height: 400px;
  border: 1px solid var(--background-color-secondary);
}