$giwiki-grey: #F7F7F7;
$giwiki-dark-blue: #24286E;
$giwiki-light-blue: #D1DCF1;
$giwiki-orange: #ff461f;
$giwiki-white: white;
$giwiki-bluedark: #192040;
$giwiki-lightblue: #323955;
$giwiki-whiteblue: #82bdfd;
$giwiki-gold: #ffb91d;
$giwiki-alert: #d32424;
$giwiki-green: #6dc964;
$giwiki-discord: #36393e;
$giwiki-discord-darker: #2f3136;
$giwiki-discord-field: #72767d;
$giwiki-discord-hover: #32353b;
